<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course Details page</title>
</head>
<body>
    <h1>Course details page</h1>
    <a href="/classroom">Go Back</a>
    <h2>Course: <%= course.name%></h2>
    <h2>Topic: <%= course.topic%></h2>
    <h2>Image: <%= course.image%></h2>
    <!-- <img src="<%= course.image %>"> -->
    <h2>Lesson: <%= course.lesson%></h2>
    <h2>Reference: <%= course.reference%></h2>
    <h2>Example: <%= course.example%></h2>
    <h2>Video: <%= course.video%></h2>
</body>
</html>